//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include "keys_de.h"

#define Base            0
#define Sym             1
#define Nav             2
#define Adjust          3
#define Ex1             4
#define Ex2             5
#define Ex3             6
#define Ex4             7
#define Ex5             8
#define Ex6             9

&sk {
    release-after-ms = <1000>;
    quick-release;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS BSPC>;
};

/ {

    behaviors {
        q_at: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DE_Q>, <&kp DE_AT>, <&none>;
        };
        min_tild: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DE_MINUS>, <&kp DE_TILDE>, <&none>;
        };
        slash_backslash: tap_dance_2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DE_SLASH>, <&kp DE_BACKSLASH>, <&none>;
        };


        double_quote_single_quote: tap_dance_3 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DE_DQT>, <&kp DE_SQT>, <&none>;
        };

        caret_pipe: tap_dance_4 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DE_CARET>, <&kp DE_PIPE>, <&none>;
        };

        dollar_euro: tap_dance_5 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DE_DOLLAR>, <&kp DE_EURO>, <&none>;
        };

        than: tap_dance_6 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DE_LT>, <&kp DE_GT>, <&none>;
        };


        parenthesis: tap_dance_7 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DE_LPAR>, <&kp DE_RPAR>, <&none>;
        };


        brackets: tap_dance_9 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DE_LBKT>, <&kp DE_RBKT>, <&none>;
        };


        braces: tap_dance_8 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DE_LBRC>, <&kp DE_RBRC>, <&none>;
        };

        star_slash: tap_dance_10 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DE_STAR>, <&kp DE_SLASH>, <&none>;
        };

        equal_hash: tap_dance_11 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DE_EQUAL>, <&kp DE_HASH>, <&none>;
        };

        plus_minus: tap_dance_12 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DE_PLUS>, <&kp DE_MINUS>, <&none>;
        };

        gresc: grave_escape {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp ESC>, <&kp GRAVE>;
            mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
        };

        exc_que: excl_quest {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DE_EXCLAMATION>, <&kp DE_QUESTION>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };

//bspc_del: backspace_delete {
//compatible = "zmk,behavior-mod-morph";
//#binding-cells = <0>;
//bindings = <&kp BACKSPACE>, <&kp DELETE>;
//mods = <(MOD_LSFT|MOD_RSFT)>;
//keep-mods = <(MOD_RSFT)>;
//};

};

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        combo_return {
            timeout-ms = <50>;
            key-positions = <16 17 18>;
            bindings = <&kp RET>;
        };
        combo_ae {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp DE_A_UMLAUT>;
        };
        combo_ue {
            timeout-ms = <50>;
            key-positions = <6 7>;
            bindings = <&kp DE_U_UMLAUT>;
        };
        combo_oe {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&kp DE_O_UMLAUT>;
        };
        combo_sz {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp DE_SZ>;
        };
        combo_gui {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp LGUI>;
        };

    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    //               0   1   2   3   4                   5   6   7   8   9
    //               10  11  12  13  14                  15  16  17  18  19
    //           20  21  22  23  24  25                  26  27  28  29  30  31
    //                       32  33  34                  35  36  37

    keymap {
        compatible = "zmk,keymap";

        // Standard QWERTZ layout with layers for Symbols, Navigation, and Adjust functions
        // left thumb switches to symbol layer, right thumb switches to navigation layer
        //
        // still missing:
        // - bspc_del
        // - symbols

        Base {
            label = "Base";
            bindings = <
                        &q_at       &kp DE_W    &kp DE_E     &kp DE_R   &kp DE_T                  &kp DE_Z      &kp DE_U    &kp DE_I      &kp DE_O    &kp DE_P
                        &kp DE_A    &kp DE_S    &kp DE_D     &kp DE_F   &kp DE_G                  &kp DE_H      &kp DE_J    &kp DE_K      &kp DE_L    &exc_que
            &sk LCTRL   &kp DE_Y    &kp DE_X    &kp DE_C     &kp DE_V   &kp DE_B                  &kp DE_N      &kp DE_M    &kp DE_COMMA  &kp DE_DOT  &min_tild                  &sk RSFT
                                                &kp DEL      &lt Ex1 SPACE      &kp LALT             &kp TAB       &lt Ex1 SPACE  &kp BSPC
            >;
        };

        // Symbol layer. First row has brackets and comparison operators
        // Home row has shift, alt, gui, ctrl, equal, tilde, and scroll up/down (a little nav spillover)
        // Central columns have &, @, =, ~, = and ^
        // Bottom row has tab, hash, pipe, star, minus, plus, caret, backslash, dollar, exclamaion, percent, grave

        Sym {
            label = "Sym";
            bindings = <
                          &kp LT     &kp LBKT  &kp LBRC  &kp LPAR   &kp AMPS         &kp AT     &kp  RPAR      &kp  RBRC    &kp RBKT  &kp GT
                          &sk LSHFT  &sk LALT  &sk LGUI  &sk LCTRL  &kp EQUAL        &kp TILDE  &msc SCRL_DOWN &msc SCRL_UP &none     &none
            &kp LG(Z)     &kp HASH   &kp PIPE  &kp STAR  &kp MINUS  &kp PLUS         &kp CARET  &kp  BSLH      &kp  DLLR    &kp EXCL  &kp PRCNT  &kp GRAVE
                                               &kp DEL   &none      &none            &kp SPACE  &mo  Sym       &kp  LG(RET)
            >;
        };

        // Navigation layer. Arrow keys on home row, mouse movement and clicking/scrolling on the left hand
        // Underscore lives here to be shiftable from the symbol layer
        // Extra modifiers on the top right row, and number pad on the bottom row

        Nav {
            label = "Nav";
            bindings = <
                    &kp LSHFT      &mkp RCLK      &mmv MOVE_UP   &mkp LCLK       &none                &kp DEL  &sk RCTRL  &sk RGUI  &sk RALT   &sk RSHFT
                    &msc SCRL_LEFT &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &msc SCRL_RIGHT      &kp LEFT &kp DOWN   &kp UP    &kp RIGHT  &kp UNDER
            &kp TAB &kp N1         &kp N2         &kp N3         &kp N4          &kp N5               &kp N6   &kp N7     &kp N8    &kp N9     &kp N0     &kp MINUS
                                                  &kp RGUI       &mo Sym         &kp RALT             &none    &none      &none
            >;
        };

        // Adjust layer. Activated when both Symbol and Navigation layers are active
        // Should have media controls on the top row and Bluetooth/power controls on the left

        Adjust {
            label = "Adjust";
            bindings = <
                      &bt BT_SEL 0  &bt BT_SEL 1   &bt BT_SEL 2  &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS        &kp C_PP  &kp C_VOL_DN    &kp C_VOL_UP  &kp C_MUTE      &kp C_NEXT
                      &bt BT_CLR    &studio_unlock &none         &none                             &caps_word                                    &kp HOME  &kp PG_DN       &kp PG_UP     &kp END         &kp INS
            &kp F12   &kp F1        &kp F2         &kp F3        &kp F4                            &kp F5                                        &kp F6    &kp F7          &kp F8        &kp F9          &kp F10     &kp F11
                                                   &none         &none                             &none                                         &none     &none           &none
            >;
        };

        Ex1 {
            label = "Ex1";
            bindings = <
                        &slash_backslash                &kp DE_N7      &kp DE_N8      &kp DE_N9     &caret_pipe                 &parenthesis      &kp HOME          &kp UP             &kp END            &star_slash
                        &kp DE_N0                       &kp DE_N4      &kp DE_N5      &kp DE_N6     &dollar_euro                &braces           &kp LEFT          &kp DOWN           &kp RIGHT          &equal_hash
            &none       &double_quote_single_quote      &kp DE_N1      &kp DE_N2      &kp DE_N3     &than                       &brackets         &kp DE_PERCENT    &kp DE_AMPERSAND   &kp DE_DEGREE      &plus_minus       &none
                                                                       &none          &none         &none                       &none            &none             &none
            >;
        };

        Ex2 {
            label = "Ex2";
            bindings = <
                        &none       &none      &none      &none     &none                   &none       &none     &kp UP       &none     &none
                        &none       &none      &none      &none     &none                   &none       &kp LEFT     &kp DOWN       &kp RIGHT     &none
            &none       &none       &none      &none      &none     &none                   &none       &none     &none       &none     &none        &none
                                               &none      &none     &none                   &none       &none     &none
            >;
        };

        Ex3 {
            label = "Ex3";
            bindings = <
                        &none       &none      &none      &none     &none                   &none       &none     &kp UP       &none     &none
                        &none       &none      &none      &none     &none                   &none       &kp LEFT     &kp DOWN       &kp RIGHT     &none
            &none       &none       &none      &none      &none     &none                   &none       &none     &none       &none     &none        &none
                                               &none      &none     &none                   &none       &none     &none
            >;
        };

        Ex4 {
            label = "Ex4";
            bindings = <
                        &none       &none      &none      &none     &none                   &none       &none     &kp UP       &none     &none
                        &none       &none      &none      &none     &none                   &none       &kp LEFT     &kp DOWN       &kp RIGHT     &none
            &none       &none       &none      &none      &none     &none                   &none       &none     &none       &none     &none        &none
                                               &none      &none     &none                   &none       &none     &none
            >;
        };

        Ex5 {
            label = "Ex5";
            bindings = <
                        &none       &none      &none      &none     &none                   &none       &none     &kp UP       &none     &none
                        &none       &none      &none      &none     &none                   &none       &kp LEFT     &kp DOWN       &kp RIGHT     &none
            &none       &none       &none      &none      &none     &none                   &none       &none     &none       &none     &none        &none
                                               &none      &none     &none                   &none       &none     &none
            >;
        };

        Ex6 {
            label = "Ex6";
            bindings = <
                        &none       &none      &none      &none     &none                   &none       &none     &kp UP       &none     &none
                        &none       &none      &none      &none     &none                   &none       &kp LEFT     &kp DOWN       &kp RIGHT     &none
            &none       &none       &none      &none      &none     &none                   &none       &none     &none       &none     &none        &none
                                               &none      &none     &none                   &none       &none     &none
            >;
        };
    };
};
