//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include "keys_de.h"

#define Base            0
#define Sym             1
#define Nav             2
#define Adjust          3

&sk {
    release-after-ms = <1000>;
    quick-release;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS BSPC>;
};

/ {

    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DE_Q>, <&kp DE_AT>, <&none>;
        };
        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DE_MINUS>, <&kp DE_TILDE>, <&none>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        combo_return {
            timeout-ms = <50>;
            key-positions = <16 17 18>;
            bindings = <&kp RET>;
        };
        combo_ae {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp DE_A_UMLAUT>;
        };
        combo_ue {
            timeout-ms = <50>;
            key-positions = <6 7>;
            bindings = <&kp DE_U_UMLAUT>;
        };
        combo_oe {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&kp DE_O_UMLAUT>;
        };
        combo_sz {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp DE_SZ>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    //               0   1   2   3   4                   5   6   7   8   9
    //               10  11  12  13  14                  15  16  17  18  19
    //           20  21  22  23  24  25                  26  27  28  29  30  31
    //                       32  33  34                  35  36  37

    keymap {
        compatible = "zmk,keymap";

        // Standard QWERTZ layout with layers for Symbols, Navigation, and Adjust functions
        // left thumb switches to symbol layer, right thumb switches to navigation layer
        //
        // still missing:
        // - ? at shift layer for !
        // - combos for umlaute
        // - combos for esc, enter

        Base {
            label = "Base";
            bindings = <
                        &td0        &kp DE_W    &kp DE_E     &kp DE_R   &kp DE_T                  &kp DE_Z      &kp DE_U    &kp DE_I      &kp DE_O    &kp DE_P
                        &kp DE_A    &kp DE_S    &kp DE_D     &kp DE_F   &kp DE_G                  &kp DE_H      &kp DE_J    &kp DE_K      &kp DE_L    &kp DE_EXCLAMATION
            &sk LCTRL   &kp DE_Y    &kp DE_X    &kp DE_C     &kp DE_V   &kp DE_B                  &kp DE_N      &kp DE_M    &kp DE_COMMA  &kp DE_DOT  &td1                  &sk LSHFT
                                                &kp DEL      &kp SPACE  &kp LALT                  &kp TAB       &kp SPACE   &kp BSPC
            >;
        };

        // Symbol layer. First row has brackets and comparison operators
        // Home row has shift, alt, gui, ctrl, equal, tilde, and scroll up/down (a little nav spillover)
        // Central columns have &, @, =, ~, = and ^
        // Bottom row has tab, hash, pipe, star, minus, plus, caret, backslash, dollar, exclamaion, percent, grave

        Sym {
            label = "Sym";
            bindings = <
                          &kp LT     &kp LBKT  &kp LBRC  &kp LPAR   &kp AMPS         &kp AT     &kp  RPAR      &kp  RBRC    &kp RBKT  &kp GT
                          &sk LSHFT  &sk LALT  &sk LGUI  &sk LCTRL  &kp EQUAL        &kp TILDE  &msc SCRL_DOWN &msc SCRL_UP &none     &none
            &kp LG(Z)     &kp HASH   &kp PIPE  &kp STAR  &kp MINUS  &kp PLUS         &kp CARET  &kp  BSLH      &kp  DLLR    &kp EXCL  &kp PRCNT  &kp GRAVE
                                               &kp DEL   &none      &none            &kp SPACE  &mo  Nav       &kp  LG(RET)
            >;
        };

        // Navigation layer. Arrow keys on home row, mouse movement and clicking/scrolling on the left hand
        // Underscore lives here to be shiftable from the symbol layer
        // Extra modifiers on the top right row, and number pad on the bottom row

        Nav {
            label = "Nav";
            bindings = <
                    &kp LSHFT      &mkp RCLK      &mmv MOVE_UP   &mkp LCLK       &none                &kp DEL  &sk RCTRL  &sk RGUI  &sk RALT   &sk RSHFT
                    &msc SCRL_LEFT &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &msc SCRL_RIGHT      &kp LEFT &kp DOWN   &kp UP    &kp RIGHT  &kp UNDER
            &kp TAB &kp N1         &kp N2         &kp N3         &kp N4          &kp N5               &kp N6   &kp N7     &kp N8    &kp N9     &kp N0     &kp MINUS
                                                  &kp RGUI       &mo Sym         &kp RALT             &none    &none      &none
            >;
        };

        // Adjust layer. Activated when both Symbol and Navigation layers are active
        // Should have media controls on the top row and Bluetooth/power controls on the left

        Adjust {
            label = "Adjust";
            bindings = <
                      &bt BT_SEL 0  &bt BT_SEL 1   &bt BT_SEL 2  &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS        &kp C_PP  &kp C_VOL_DN    &kp C_VOL_UP  &kp C_MUTE      &kp C_NEXT
                      &bt BT_CLR    &studio_unlock &none         &none                             &caps_word                                    &kp HOME  &kp PG_DN       &kp PG_UP     &kp END         &kp INS
            &kp F12   &kp F1        &kp F2         &kp F3        &kp F4                            &kp F5                                        &kp F6    &kp F7          &kp F8        &kp F9          &kp F10     &kp F11
                                                   &none         &none                             &none                                         &none     &none           &none
            >;
        };

        extra2 {
            status = "reserved";
        };

        extra3 {
            status = "reserved";
        };

        extra4 {
            status = "reserved";
        };

        extra5 {
            status = "reserved";
        };

        extra6 {
            status = "reserved";
        };
    };
};
